*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  object-fit: contain;
}

.App{
  width: 100%;
  font-size: 18px;
  font-family: DM Sans;
  padding: 50px 0 50px 0;
}

.container{
  width: 100%;
  background-color: hsl(30, 74%, 88%);
  padding: 10px;
  display: flex;
  justify-content: center;
}