@media only screen and (min-width:1000px)
{

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

img{
  width:100%;
  object-fit: contain;
}

/*main body*/
.App{
  width: 100%;
  padding: 120px 0 120px 0;
  background-color: #ffffff;
  font-family: "Ubuntu";
}

.App .buttons-div{
  display: none;
}


/*second body layer*/
.contain{
  width: 100%;
  background-color: hsl(228, 100%, 84%);
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container to handle the form*/
.form_container{
  width: 68%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
}

}/*Desktop view*/


/*------------------------------------------------------------------*/


@media only screen and (max-width:999px){

  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  img{
    width:100%;
    object-fit: contain;
  }

  .App{
    width: 100%;
    padding: 0 0 80px 0;
    background-color: #ffffff;
    font-family: "Ubuntu";
  }

  .App .buttons-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.App .buttons-div .backward-btn-div{
    padding-top: 10px;
    padding-left: 60px;
}
.App .buttons-div .backward-btn-div button{
    width: 120px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-weight: bold;
    color: hsl(231, 11%, 63%);

}

.App .buttons-div .forward-btn-div{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 80px;
}
.App .buttons-div .forward-btn-div button{
    width: 120px;
    padding: 10px;
    background-color: hsl(213, 96%, 18%);
    cursor: pointer;
    font-weight: bold;
    color: hsl(231, 11%, 63%);
    border-radius: 8px;
}

  .contain{
    width: 100%;
    background-color: hsl(228, 100%, 84%);
    padding: 0 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form_container{
    width: 100%;
    padding-bottom: 50px;
    background-color: hsl(228, 100%, 84%);
    border-radius: 8px;
 
  }

}


/*-------------------------------------------------*/

@media only screen and (max-width:500px){
  .App .buttons-div .backward-btn-div{
    padding-top: 10px;
    padding-left: 8px;
}

  .App .buttons-div .forward-btn-div{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 20px;
}

}