.body-contain{
    width: 100%;
    background-color: #ffffff;
    padding: 45px;
    border-radius: 10px;
    margin-top: 25px;
}

.body-contain h3{
    font-weight: bold;
}

.body-contain canvas{
    width: 100%;
    cursor: pointer;
    margin-bottom: 25px;
}

.body-contain hr{
    border: 0.1px solid #F8F9F9;
    margin-bottom: 40px;
}

.body-contain .infor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.body-contain .inforp{
    font-size: 15px !important; 
}
.body-contain .infor .percent{
    text-align: right;
}
.body-contain .infor .percent #p1{
    margin-top: 18px;
    color: hsl(25, 47%, 15%);
    font-weight: bold;
}